@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* material */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/font/MaterialIcons/material_icons.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

th.mat-header-cell {
    font-size: 14px;
}
th, td {
    padding-left: 10px!important;
    padding-right: 10px!important;
}

/* Custom stylesheet */
mat-expansion-panel-header {
    &.mat-expansion-panel-header.mat-expanded {
        background-color: rgba(0,0,0,0.05) !important;
        &:hover {
            background-color: rgba(0,0,0,0.05) !important;
        }
    }
}