:host {
    min-width: 100%;

    .container {
        position: relative;
        padding: 20px 32px;

        .badge {
            display: inline-block;
            border-radius: 50%;
            background-color: #f44336;
            margin-left: 10px;
            padding: 2px 4px;
            text-align: center;
            font-size: 12px;
            color: #fafafa;
            min-width: 12px;
        }

        a {
            color: #1565c0;
            text-decoration: none;
        }
    }
}